// .avatar
$avatar-height: 345px;
$avatar-vertical-offset: (-1 * ceil($avatar-height / 2));

// .avatar-title
$avatar-title-font-size: 24px !default;
$avatar-title-letter-spacing: 1px !default;
$avatar-title-margin: 20px 0 5px !default;

// .avatar-description
$avatar-descrption-font-size: 20px !default;

// .avatar-link-list
$avatar-link-list-margin: 20px 0 0 !default;

// .avatar-link-list-item
$avatar-link-list-item-margin: 0 5px !default;
$avatar-link-list-item-opacity: 0.25 !default;
$avatar-link-list-item-opacity-over: 1 !default;
$avatar-link-list-item-transition-duration: 0.2s !default;