$text-colour: #3d1e2d !default;
$bg-colour: #efefef !default;

html,
body {
    height: 100%;
}

body {
    background: $bg-colour;
    font-family: 'Montserrat', sans-serif;
    color: $text-colour;
}

a {
    @include transition-property(color);
    @include transition-duration(0.1s);
    @include transition-timing-function(ease-in-out);
    color: $text-colour;
    text-decoration: none;

    &:hover {
        color: darken($text-colour, 25%);
    }
}